<div *ngIf="act">
  <div
    class="conatainer"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
  >
    <div FxFlex="50">
      <mat-card>
        <mat-card-title>
          <h1>АКТ {{ act.name }}</h1>
        </mat-card-title>
        <mat-card-footer>
          <mat-card-actions>
            <button mat-button mat-raised-button (click)="goBack()">
              Назад
            </button>
            <button mat-button [routerLink]="['../../details', prev]">
              <span class="fa fa-chevron-left fa-lg"></span>
            </button>
            <button mat-button [routerLink]="['../../details', next]">
              <span class="fa fa-chevron-right fa-lg"></span>
            </button>
            <button
              mat-button
              mat-raised-button
              [routerLink]="['../../update/', act._id]"
            >
              Редакетировать
            </button>
            <button
              mat-button
              mat-raised-button
              [routerLink]="['../../copy/', act._id]"
            >
              Копировать
            </button>
            <span *ngIf="confirmDelete">
              <span>Вы уверены, что хотите удалить АКТ {{ act.name }}</span>
              <button mat-button class="btn-danger" (click)="deleteAct()">
                Да
              </button>
              <button
                mat-button
                class="btn-primary"
                (click)="confirmDelete = false"
              >
                Нет
              </button>
            </span>
            <button
              *ngIf="!confirmDelete"
              mat-button
              (click)="confirmDelete = true"
            >
              Удалить
            </button>
          </mat-card-actions>
        </mat-card-footer>
      </mat-card>
    </div>
    <app-docs [act]="act"></app-docs>
  </div>
</div>
<div fxLayoutAlign="center">
  <div [hidden]="act">
    <mat-spinner></mat-spinner>
    <h4>Загрузка . . . Пожалуйста, подождите</h4>
  </div>
</div>
