.uploadfilecontainer {
    // background-size: 100px;
    // background-position: center;
    // height: 100px;
    // width: 100%;
    margin: 10px auto;
    border: 2px dashed #512DA8;
    border-radius: 10px;
}