<mat-card
  [ngStyle]="{ backgroundColor: getColor(act.status) }"
  fxFlex
  class="actCard"
  *ngFor="let act of acts"
  [routerLink]="['../details', act._id]"
>
  <mat-card-title>
    {{ act.name }}
  </mat-card-title>
  <mat-card-subtitle> Лаборатория: {{ act.lab.label }} </mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content  fxLayout="row">
    <div>
      <p>Акт зарегистрован</p>
      <mat-icon>cloud_download</mat-icon>
    </div>
    <mat-divider [vertical]='true'></mat-divider>
    <div>
        <p>Итоговый протокол</p>
        <mat-icon>cloud_download</mat-icon>
    </div>
  </mat-card-content>
</mat-card>
