<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div fxFlex fxLayout="column">
    <app-ff-select
      control="lab"
      [form]="form"
      label="Лаборатория"
      key="lab"
      [populate]="true"
      [editable]="true"
      [disabledControl]="data.update"
    ></app-ff-select>
    <!-- <mat-form-field formControlName="typeOfSample" required>
      <mat-label>
        Тип отбираемой среды
      </mat-label>
      <mat-select> </mat-select>
    </mat-form-field> -->
    <app-ff-select
      control="typeOfSample"
      [form]="form"
      label="Тип отбираемой среды"
      key="typeOfSample"
      [populate]="true"
      [editable]="true"
      [disabledControl]="data.update"
    ></app-ff-select>
    <mat-tab-group mat-dialog-content>
      <div *ngFor="let template of templateList">
        <mat-tab [label]="template.label" *ngIf="template" disableRipple="true">
          <ng-template matTabContent>
            <mat-radio-group
              formControlName="path"
              (change)="radioChange($event)"
            >
              <div *ngFor="let file of template.filesList">
                <mat-radio-button [value]="file.path" *ngIf="file">
                  <app-pdf-view [file]="file.file"></app-pdf-view>
                </mat-radio-button>
              </div>
            </mat-radio-group>
          </ng-template>
        </mat-tab>
      </div>
    </mat-tab-group>
    <mat-dialog-actions>
      <button type="submit" mat-raised-button [disabled]="!form.valid">
        Сохранить
      </button>
      <button type="button" mat-raised-button (click)="close()">
        Отмена
      </button>
    </mat-dialog-actions>
  </div>
</form>
