<div class="container">
  <section class="rawMenu">
    <section>
      <mat-checkbox
        [checked]="allColumnActive"
        [indeterminate]="someActive()"
        (change)="setAll($event.checked)"
      >
        Все
      </mat-checkbox>
      <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let column of columnsToDisplay" cdkDrag class="drag">
          <mat-icon>drag_indicator</mat-icon>
          <mat-checkbox
            [(ngModel)]="column.isActive"
            (ngModelChange)="updateAllComponent()"
          >
            {{ column.label }}
          </mat-checkbox>
        </div>
      </div>
    </section>
    <section class="rawFileters" *ngIf="filterOptions">
      <div *ngFor="let option of filterOptions" class="fileterItem">
        <p>{{ option.label }}</p>
        <div *ngFor="let item of option.items">
          <mat-checkbox
            [(ngModel)]="item.isChecked"
            (ngModelChange)="updateFilter($event, option.items, option.key)"
            [disabled]="item.disabled"
          >
            {{ item.lable }}
          </mat-checkbox>
        </div>
      </div>
    </section>
  </section>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container
      [matColumnDef]="column.key"
      *ngFor="let column of columnsToDisplay"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element ? element[column.key] : null }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
