<div ngClass="groupLinks" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-card ngClass="linkCard" (click)="openDialog()">
        <mat-card-header>
            <mat-card-title>
                Шаблоны
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>
                Выбор шаблона создания документов <br>
                для различных лабораторий <br>
                и типов отбираемой среды
            </span>
        </mat-card-content>
    </mat-card>
<div>